/* Layout container to leave sidebar */
.main-container {
  display: flex;
}

/* The area containing the two components */
.split-view {
  display: flex;
  flex: 1; /* Takes up all space not used by the nav */
  height:fit-content;
  background-color: #6CCBFF;
}

/* Left Half Styling */
.left-half {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  padding: 40px;
  border-radius: 12px;
  width: 80%;
  height: 80%;
  justify-content: center;
  text-align: center;
}

/* Right Half Styling */
.right-half {
  flex: 1;
}

.gradient-spacer { 
  height: 50px;
  width: 100%;
  background-image: linear-gradient(to bottom, #6CCBFF, #f0f0f0);
}

/* Sidebar Styling on the Right */
.side-nav {
  width: 150px;
  height: 100vh;
  position: sticky;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-left: 2px solid #444;
}

.side-nav ul {
  list-style: none;
  padding: 0;
}

.side-nav li {
  margin: 20px 0;
  cursor: pointer;
  transition: color 0.3s;
}

.side-nav li:hover {
  color: #007bff;
}