@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Global Reset: Removes default browser gaps and margins */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  --accent-blue: #000000;
  --accent-color: #007bff;
}

/* Base Page Setup */
body {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  /* Ensures the app takes up the full browser height */
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

/* Link Styling (Optional but helpful) */
a {
  text-decoration: none;
  color: inherit;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(40px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}